.appFront{
  min-width: 90vw;
  min-height: 80vh;
  margin: 4vw auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.sidebar{
  width: 20%;
  align-self: stretch;
}
.contentBlock{
  width: 70%;
  background-color: #d1e8e2;
  align-self: stretch;
}

